
logo: /assets/img/profile.png
description: "Hi! I am Maria Paula, an HERper girl from <i>CO</i>. Passionate for frogs, enthusiastic of chocolate, living in the middle of the mountains
Feel free to email me at mtoro(at)humboldt.org.co"
show_downloads: false
#favicon: /assets/img/flavicon.png
theme: jekyll-theme-minimal

include:
  - _pages
