
logo: /assets/img/profile.png
description: "Hi! I am Maria Paula, an HERper girl from <i>CO</i>. Passionate for frogs, enthusiastic of chocolate, living in the middle of the mountains
Feel free to email me at mtoro(at)humboldt.org.co"
[Download CV](/assets/img/CV_MariaPaulaToroGomez_2025.pdf)
show_downloads: false
flavicon: /assets/img/flavicon.png
theme: jekyll-theme-minimal



include:
  - _pages
